# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Build
/build/
*/build/

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Other
.DS_Store

/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
